/*--------------------------------------------------------------
# base
--------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-style: normal;
	color: $text-color;
  line-height: 1.6;
  background-color: $secondary-color;
	overflow-x: hidden;

}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}
p{
  margin: 0;
}
