/*--------------------------------------------------------------
# hero
--------------------------------------------------------------*/

.hero {
	background-color: #222222;
  // background-image: url('../img/hero/bg1roadmap.png');
  // background-size: cover;
  // background-position: center;
	padding: 30px 0px;
	@media only screen and (max-width: 767px) {
		padding: 20px 0px;
	}

	h1 {
		font-size: 30px;
		color: #fff;
		font-weight: 600;
		max-width: 400px;
    position: relative;
    top: 25px;
		@media only screen and (max-width: 991px) {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			font-size: 27px;
      top: 5px;
		}
		@media only screen and (max-width: 767px) {
			font-size: 23px;
		}
		span {
			color: $primary-color;
		}
	}

	.fet-box {
		background-color: #fbab7e;
		background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
		border-radius: 12px;
		overflow: hidden;
		padding: 10px 10px;
		.fet-header {
			text-align: center;
			padding: 5px 5px;
			h3 {
				font-size: 19px;
				color: #000;
				text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.34);
				font-weight: 600;
			}
		}

		.fet-body {
			background: linear-gradient(
				to bottom,
				rgba(226, 226, 226, 1) 0%,
				rgba(255, 255, 255, 1) 42%
			);
			padding: 12px 12px;
			border-radius: 12px;
			border: 2px solid #fb9154;
			p {
				font-size: 15px;
				margin-bottom: 12px;
				span {
					color: #fa6712;
					font-weight: 600;
				}
			}
		}

		.fet-mail {
			display: flex;
			align-items: center;
			margin-bottom: 12px;
			img {
				height: 18px;
				margin-right: 10px;
			}
			h5 {
				font-size: 18px;
				color: #000;
				font-weight: 600;
			}
		}

		.fet-legal {
			text-align: center;
			span {
				display: inline-block;
				font-size: 14px;
				line-height: 1.2;
			}
		}
	}
}

.sub-form {
	background: linear-gradient(
		to bottom,
		rgb(74, 185, 62) 0%,
		rgb(99, 224, 77) 17%,
		rgb(91, 172, 40) 100%
	);
	box-shadow: 0 0 7px 7px rgba(86, 205, 100, 0.33);

	border-radius: 12px;
	padding: 2px 10px 10px 10px;
	overflow: hidden;
	margin-top: 15px;
	@media only screen and (max-width: 767px) {
		margin-top: 14px;
		box-shadow: 0 0 7px 7px rgba(86, 205, 100, 0.33);
	}
	.sub-header {
		text-align: center;
		padding: 10px 10px;
		h3 {
			font-size: 23px;
			color: #fff;
			font-weight: 600;
			span {
				color: #000;
			}
			@media only screen and (max-width: 767px) {
				font-size: 20px;
			}
		}
	}
	.form-con {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		border: 2px solid darken($color: $primary-color, $amount: 20%);

		.form-control {
			height: 58px;
			font-size: 18px;
      font-weight: 600;
			@media only screen and (max-width: 767px) {
				font-size: 15px;
				height: 48px;
			}
		}
		.btn-submit {
			display: inline-block;
			position: absolute;
			top: 0;
			right: 0;
			height: 58px;
      background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
			border: 0;
			outline: none;
			color: #fff;
			text-align: center;
			padding: 0px 15px;
			font-size: 18px;
			font-weight: 700;
			transition: all 0.2s ease-in;
			&:hover {
				color: #fff;
        background-image: linear-gradient(30deg, #4776E6 0%, #8E54E9  51%, #4776E6  100%);
			}
			@media only screen and (max-width: 767px) {
				font-size: 15px;
				height: 48px;
				padding: 0px 8px;
			}
		}
	}
}

/*--------------------------------------------------------------
# main
--------------------------------------------------------------*/

.main {
	padding: 20px 0px;
}

.charts-sec {
	.chart-single {
		position: relative;
		background-color: #fff;
		border: 1px solid #f5f5f5;
		box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
		border-radius: 10px;
		padding: 15px 15px;
		height: 100%;
		overflow: hidden;
		@media only screen and (max-width: 991px) {
			max-width: 322px;
			margin-left: auto;
			margin-right: auto;
		}
		h3 {
			font-size: 28px;
			font-weight: 600;
			text-align: center;
			color: $title-color;
			margin-bottom: 12px;
			@media only screen and (max-width: 767px) {
				font-size: 24px;
			}
			span {
				color: #fa6712;
			}
		}
		.chart-text {
			background-color: #f4f4f4;
			border: 1px solid #d2d2d2;
			text-align: center;
			padding: 10px 5px;
			border-radius: 8px;
			overflow: hidden;
			p {
				font-size: 13px;
			}
		}

		.chart-btn {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 20px;
			.chart-points {
				i {
					color: $primary-color;
					font-size: 18px;
				}
				span {
					font-size: 18px;
					font-weight: 600;
					color: $title-color;
				}
			}
		}

		.chart-img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 0.2s ease-in;
			opacity: 0;
			// z-index: 9999;
		}

		.view-chart {
			border: 1px solid $primary-color;
			padding: 8px 13px;
			border-radius: 6px;
			cursor: pointer;
			text-decoration: none;
			font-size: 14px;
			color: $primary-color;
			font-weight: 600;
		}
		&:hover {
			.chart-img {
				opacity: 1;
			}
		}
	}
}

/*--------------------------------------------------------------
# outer-sec
--------------------------------------------------------------*/

.outer-sec {
	padding: 30px 0px;
	.list-box {
		background-color: lighten($color: $secondary-color, $amount: 4%);
		border: 1px solid lighten($color: $secondary-color, $amount: 12%);
		padding: 20px 20px;
		border-radius: 12px;
		overflow: hidden;
		height: 100%;

		.list-flex {
			display: flex;
			padding-bottom: 17px;
			margin-bottom: 17px;
			border-bottom: 1px solid
				darken($color: $secondary-color, $amount: 8%);
			&:last-child {
				border: 0;
				margin-bottom: 0px;
				padding-bottom: 5px;
			}
			i {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background-color: $primary-color;
				color: #fff;
				width: 27px;
				min-width: 27px;
				height: 27px;
				border-radius: 4px;
				border: 2px solid darken($color: $primary-color, $amount: 12%);
				margin-right: 16px;
				position: relative;
				top: 4px;
			}
		}
		.list-txt {
			h5 {
				color: $title-color;
				font-size: 20px;
				margin-bottom: 10px;
			}
			p {
				font-size: 13px;
			}
		}
	}

	.faq {
		h5 {
			font-size: 20px;
			color: $title-color;
			margin-bottom: 18px;
		}
		background-color: lighten($color: $secondary-color, $amount: 4%);
		border: 1px solid lighten($color: $secondary-color, $amount: 12%);
		padding: 20px 20px;
		border-radius: 12px;
		overflow: hidden;
		height: 100%;
		.list-flex-1 {
			display: flex;
			padding-bottom: 17px;
			margin-bottom: 17px;
			border-bottom: 1px solid
				darken($color: $secondary-color, $amount: 8%);
			&:last-child {
				border: 0;
				margin-bottom: 0px;
				padding-bottom: 5px;
			}
			i {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				background-color: $primary-color;
				color: #fff;
				width: 20px;
				min-width: 20px;
				height: 20px;
				border-radius: 3px;
				border: 2px solid darken($color: $primary-color, $amount: 12%);
				margin-right: 8px;
				position: relative;
				top: 3px;
				font-size: 13px;
			}
		}
		.list-txt {
			h5 {
				color: $title-color;
				font-size: 16px;
				margin-bottom: 8px;
			}
			p {
				font-size: 12px;
			}
		}
	}
}

/*--------------------------------------------------------------
# feedback
--------------------------------------------------------------*/

.feedback {
	padding: 20px 0px;
	h2 {
		text-align: center;
		color: #a55c1b;
		font-size: 21px;
		margin-bottom: 35px;
    @media only screen and (max-width: 767px) {
     font-size: 19px;
     margin-bottom: 30px;
    }
	}
  .feed-wrap{
    text-align: center;
    height: 100%;

    @media only screen and (max-width: 767px) {
      max-width: 320px;
      margin-left: auto;
      margin-right: auto;
     }
    .user{
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 48px;
      border-radius: 100%;
      background-color: $primary-color;
      color: #fff;
      text-align: center;
      font-size: 26px;
      margin-top: 20px;
    }
  }
	.feedback-single {
    position: relative;
		padding: 15px 15px;
    background-color: #fff;
		border: 1px solid #bcbcbc;
		border-radius: 12px;
		text-align: center;
    min-height: 127px;
    @media only screen and (max-width: 767px) {
     min-height: unset;
    }



		box-shadow: 0 0.1625rem 0.25rem 0 rgb(36 39 46 / 15%);

    h3{
      color: $title-color;
      font-weight: 600;
      font-size: 13px;
      margin-top: 8px;
    }
		p {
			font-size: 12px;
			line-height: 1.5;
		}
    transition: all .2s ease-in;

    &::after{
      content: '';
      position: absolute;
      display: block;
      width: 0;
      z-index: 1;
      border-style: solid;
      border-color: #fff transparent;
      border-width: 15px 15px 0;
      bottom: -15px;
      left: 50%;
      margin-left: -15px;
    }
    &:hover{
    	background-color: #dbdbdb;
      box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.12);
      transform: translateY(-4px);
      &::after{
        border-color: #dbdbdb transparent;
      }
    }


	}
}


/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/

.footer{
  padding: 50px 0px;
  background: #181818 url('../img/feedback/grid-bg.gif') repeat-x;
  text-align: center;
  @media only screen and (max-width: 767px) {
   padding: 30px 0px;
  }
  .copy-rights{
    padding-top: 40px;
    font-size: 11px;
    color: lighten($color: $text-color, $amount: 10%);
    @media only screen and (max-width: 767px) {
     padding-top: 23px;
    }
    span{
      font-size: 11px;
      color: lighten($color: $text-color, $amount: 10%);
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        a{
          color: lighten($color: $text-color, $amount: 10%);
          display: inline-block;
          text-decoration: underline;
          margin: 4px 3px;
        }
      }
    }
  }
}
