/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
.container{
  max-width: 980px;
}
.header{
  background-color: #000;
  padding: 12px 0px;

  .logo{
    a{
      text-decoration: none;
      display: inline-block;
      font-size: 26px;
      color: #fff;
      font-weight: 600;
      span{
        color: $primary-color;
      }
    }
  }
}
